html,
body,
#mapid {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TOOLTIPS */
/* Cleanup Zones */
.tooltip-custom-cl {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font: 1.2rem "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* Fresh Kills */
.tooltip-custom-fk {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font: 0.9rem "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* LEGEND */
.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 5px;
  left: 0px;
  bottom: 0px;
}
/* Legend items */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

/* BOOTSTRAP */
/* Buttons */
.btn-success {
  background-color: #00aa64 !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  background-color: #009156 !important;
}

.btn-success:focus {
  box-shadow: none !important;
}

/* SQUARESPACE */
/* Buttons */
.sqs-block-code .sqs-block-content>#header :first-child {
  margin-top: 0px !important;
}
/* Map Area */
.page-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page-section>.content-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}