html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* MAP CONTAINER */
#mapid {
  height: 700px;
}

/* TOOLTIPS */
/* Cleanup Zones */
.tooltip-custom-cl {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font: 1.2rem "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* Fresh Kills */
.tooltip-custom-fk {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  font: 0.9rem "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* LEGEND */
.legend {
  line-height: 18px;
  color: #555;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 5px;
  left: 0px;
  bottom: 0px;
}
/* Legend items */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}

/* BOOTSTRAP */
/* Buttons */
.btn-group {
  display: flex !important;
}

.btn-success {
  background-color: #00aa64 !important;
  border-radius: 0px !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
  background-color: #009156 !important;
}

.btn-success:focus {
  box-shadow: none !important;
}

/* SQUARESPACE */
/* Buttons */
.sqs-block-code
  .sqs-block-content
  :first-child
  :not(.leaflet-top, .leaflet-popup-content, .leaflet-marker-icon) {
  margin-top: 0px !important;
}

/* Map Area */
.page-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.page-section > .content-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sqs-block-content .leaflet-popup-tip {
  display: none !important;
}

/* Change map size based on screen size */
@media only screen and (max-width: 799px) {
  #mapid {
    height: 600px;
  }
}

@media only screen and (max-width: 767px) {
  #mapid {
    height: 500px;
  }

  .container,
  .container-sm {
    max-width: 100% !important;
  }

  .content .col.sqs-col-12.span-12 {
    padding-right: 15px !important;
  }

  .btn-group,
  .btn-group-vertical {
    display: block !important;
  }
  .btn-group .btn {
    display: block !important;
    float: none !important;
    width: 100% !important;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 480px) {
  #mapid {
    height: 400px;
  }

  .btn-group .btn {
    padding: 0.15rem !important;
    font-size: 0.8rem !important;
  }
}
